# Backend Server REST Base API URL Endpoint
VITE_API_BASE_URL=http://localhost:5000/api/v1

# Web Push VAPID Public Key
# Must match the server's VAPID_PUBLIC_KEY variable exactly
VITE_VAPID_PUBLIC_KEY=BFUyoPAz2CLf2xeFrFz7wqwsvHjnEjmDG18LnuP82XFz8RR9ZVnMJ-gp7yhio-TU1a7BODErFGr63jGpnh0ITkY
