# Server Port Configuration
PORT=5000

# MongoDB URI Connection String
MONGO_URI=mongodb://127.0.0.1:27017/mindmingle

# JSON Web Token Secret Configuration
JWT_SECRET=mindmingle_secret_key_change_me_in_production

# Web Push VAPID Configurations
# Run "npx web-push generate-vapid-keys" inside the server directory to generate these
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
EMAIL_SENDER=mailto:support@mindmingle.com

# Server environment (development / production)
NODE_ENV=development
